*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbotron{
    background-color: #B91450;
}

.pink{
    color: #B60C4A;
}

.outline:focus{
    outline: none;
}

.select-style{
    background-color: #fff;
}

.orange-border{
    border: 1px solid orange;
}

.border-color{
    border-radius: 5px;
    border: 1px solid #B91550;
}

.backgroud-white{
    background-color: #fff;
}

.white{
    color: #fff;
}

.background-grey{
    background-color: #808080;
}

.red{
    background-color: yellow;
}

.purple{
    background-color: purple;
}
.cyan{
    background-color: cyan;
}